<html>
    <head>
        <title>Let's Learn EJS</title>
    </head>
    <body>
        <h1>Let's Learn EJS</h1>
        <h2> Title: <%= article.title %> </h2>
        <p> <%= article.content %> </p>
    </body>
</html>